@import url(http://fonts.googleapis.com/css?family=Snowburst+One);
@import url(http://fonts.googleapis.com/css?family=Rambla);

body {
    background-image: url(/images/pattern.jpg);
}

.snow-cur {
	font-family: 'Snowburst One', cursive;
}

.spoiler-gutter img {
    height: 20px;
    padding: 0 5px 0 5px;
}

.spoiler-gutter {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Snowburst One', cursive;
    cursor: pointer;
    margin-top: -23px;
}

.container {
    background: #fff;
    min-height: 100%;
    -webkit-box-shadow: 3px 1px 15px rgba(50, 50, 50, 0.36);
    -moz-box-shadow:    3px 1px 15px rgba(50, 50, 50, 0.36);
    box-shadow:         3px 1px 15px rgba(50, 50, 50, 0.36);
}

#meme-edit {
    padding: 10px 0 10px 0;
}

.add-meme {
    padding: 10px;
}

#meme-submit {
    display: none;
}

#memes {
    width: 100%;
}

.meme-item {
    background: #D8D5D2;
    border: 3px solid #fff;
    max-width: 200px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.meme-item:hover {
    cursor: pointer;
    max-width: 205px;
}

.meme-item img {
    width: 100%;
}

.navigation {
    display: none !important;
}

#infscr-loading {
    text-align: center;
    z-index: 100;
    position: fixed;
    left: 40px;
    bottom: 40px;
    width: 200px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.meme-item-wrapper {
    width: 100%;
    text-align: center;
}

.footer {
	width: 100%;
	text-align: center;
}
